 World Wide Products

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

from sklearn.ensemble import GradientBoostingRegressor as GBR #GBM algorithm
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn import metrics


#Import dataset
df=pd.read_csv('Historical Product Demand.csv')

 Preprocessing and Feature Engineering
 we need date format as feature, convert year/month/day to year-month-day.
 also we need extract month for better prediction.

In [2]:
df.drop(df[df.Date.isnull()].index, inplace=True)

In [3]:
df.head(5)

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [4]:
import datetime
df['Date'] = pd.to_datetime(df['Date'])
df['Order_Demand'] = pd.to_numeric(df['Order_Demand'], errors='coerce')
df = df.dropna()
df['Order_Demand']= df['Order_Demand'].astype('int')
df.head(5)

   Product_Code Warehouse Product_Category       Date  Order_Demand
0  Product_0993    Whse_J     Category_028 2012-07-27           100
1  Product_0979    Whse_J     Category_028 2012-01-19           500
2  Product_0979    Whse_J     Category_028 2012-02-03           500
3  Product_0979    Whse_J     Category_028 2012-02-09           500
4  Product_0979    Whse_J     Category_028 2012-03-02           500

In [5]:
df['Year'], df['Month'] = df['Date'].dt.year, df['Date'].dt.month

In [6]:
df.head(5)

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,Year,Month
0,Product_0993,Whse_J,Category_028,2012-07-27,100,2012,7
1,Product_0979,Whse_J,Category_028,2012-01-19,500,2012,1
2,Product_0979,Whse_J,Category_028,2012-02-03,500,2012,2
3,Product_0979,Whse_J,Category_028,2012-02-09,500,2012,2
4,Product_0979,Whse_J,Category_028,2012-03-02,500,2012,3

In [7]:
from sklearn.preprocessing import LabelEncoder
e = LabelEncoder()
df['Product_Code'] = e.fit_transform(df['Product_Code'])
df['Warehouse'] = e.fit_transform(df['Warehouse'])
df['Product_Category'] = e.fit_transform(df['Product_Category'])

In [8]:
df.head(5)

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,Year,Month
0,982,2,27,2012-07-27,100,2012,7
1,968,2,27,2012-01-19,500,2012,1
2,968,2,27,2012-02-03,500,2012,2
3,968,2,27,2012-02-09,500,2012,2
4,968,2,27,2012-03-02,500,2012,3

 Models
 Using Random Forest Regressor

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
decision = df[['Order_Demand']]
features = df[['Product_Code','Warehouse', 'Product_Category', 'Month']]
train, test, train_d, test_d = train_test_split(features,
                                                decision,
                                                test_size = 0.2,
                                                random_state = 14)

In [10]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor()
rfr = RF.fit(train, train_d.values.ravel())

In [11]:
test_rfr = RF.predict(test)
test_rfr

array([15308.93333003,    43.57526139,  2177.17825933, ...,
       28498.29269155, 12440.92337094,  4468.74318818])

In [12]:
rfr.score(test, test_d)

0.23994062639230726